* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 20px 10px;
  width: 350px;
}

label {
  font-weight: 900;
}

.previewCard {
  display: flex;
  border: solid 2px;
  width: 750px;
  justify-content: space-around;
  align-items: center;
}
